<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" metadata-complete="true" version="3.1">
  <servlet>
    <servlet-name>MyBrad05</servlet-name>
    <servlet-class>tw.org.iii.Brad05</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyBrad05</servlet-name>
    <url-pattern>/Brad05.go</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Brad07</servlet-name>
    <servlet-class>tw.org.iii.Brad07</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Brad07</servlet-name>
    <url-pattern>/Brad07</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Brad08</servlet-name>
    <servlet-class>tw.org.iii.Brad08</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Brad08</servlet-name>
    <url-pattern>/Brad08</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Brad09</servlet-name>
    <servlet-class>tw.org.iii.Brad09</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Brad09</servlet-name>
    <url-pattern>/Brad09</url-pattern>
  </servlet-mapping>
	<context-param>
		<description>檔案上傳目錄</description>
		<param-name>upload-path</param-name>
		<param-value>C:\javaee\git\JavaWeb\WebContent\upload</param-value>
	</context-param>
</web-app>